body {
    font-family: arial, sans-serif;
    font-weight: 200;
}
.weather-app{
    border: 2px solid darkgray;
    max-width: 600px;
    max-height: 600px;
    margin: 0 auto;
    padding: 20px 60px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 0, 0.1), rgba(146, 146, 185, 0.1)), url("../streetart.jpeg");
    opacity: 1;
}

ul{
    margin: 0;
    padding: 0;
    opacity: 1;
    padding-bottom: 10px;
}
li {
    color: #9098a2;
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: normal;
    opacity: 1;
}
a {
    text-decoration: none;
    opacity: 1;
}

i {
    font-size: 32px;
    margin-bottom: 5px;
    opacity: 1;
}

sup.temp-type {
    position: relative;
    font-size: 16px;
    top: -30px;
    text-decoration: none;
    opacity: 1;
}

.main-display {
    display: block;
    margin: 0 auto;
    text-align: center;
    background: rgba(157, 166, 176, 0.4);
    border: 2px solid red;
    border-radius: 25px;
    padding: 2px 8px;
    margin-bottom: 10px;
    max-width: 50%;
    opacity: 1;
}

.main-display li{
    color: rgb(30, 11, 11);
    font-weight: 500;
    font-size: 18px;
    opacity: 1;
}

.main-display h1 {
        color: black;
        font-size: 42px;
        line-height: 32px;
        margin: 0;
        margin-top: 25px;
        margin-bottom: 5px;
        padding: 0;
        padding-bottom: 5px;
        opacity: 1;
}

#current-temp{
    position: relative;
    left: 30px;
    background: rgba(157, 166, 176, 0.4);
    border: 2px solid red;
    border-radius: 25px;
    padding: 0;
    margin-bottom: 0;
    max-width: 45%;
    opacity: 1;
}

#condition-details {
    position: relative;
    left: 40px;
    background: rgba(157, 166, 176, 0.4);
    border: 2px solid red;
    border-radius: 25px;
    padding: 0;
    margin: 0;
    max-width: 45%;
    opacity: 1;
}

#condition-details li{
    color: white; 
    text-align: center;
    position: relative;
    top: 20px;

}
.search-form {
    background: rgba(157, 166, 176, 0.4);
    border: 2px solid red;
    border-radius: 25px;
    padding: 8px 8px;
    margin-bottom: 10px;
    margin-left: 15px;
    opacity: 1;
}
#search-city {
    border: none;
    box-shadow: 5px 5px 5px darkgray;
    opacity: 1;
}

#submit-search {
    background: #2172e4;
    margin: 5px 5px;
    border-radius: 40px;
    box-shadow: 5px 5px 5px darkgray;
    color: white;
    border: none;
    opacity: 1;
}

#submit-search:hover{
    background: white;
    color: #2172e4;
    transition: all 150ms ease-in-out;
    opacity: 1;
}

#submit-currentCity {
    background:#1d9543;
    margin: 5px 5px;
    border-radius: 40px;
    box-shadow: 5px 5px 5px darkgray;
    color:white;
    border: none;
    opacity: 1;
}
#submit-currentCity:hover{
    background: white;
    color: #1d9543;
    transition: all 150ms ease-in-out;
    opacity: 1;
}

.current-city {
    border: 2px solid red;
    border-radius: 25%;
    background: #9098a2;
    opacity: 1;
}
.display-temp {
    font-size: 48px; 
    opacity: 1;
}

.current-conditions {
    margin-top:15px;
    margin-left: 15px;
    opacity: 1;
}
#cloudy-icon {
    font-size: 36px;
    margin-top:15px;
    opacity: 1;
}

.col-2 {
    margin-right: 10px;
    opacity: 1;
}
.forecast-days {
    font-size: 18px;
    opacity: 1;
}
.forecast-max {
    font-size: 16px;
    color:#454a4f;
    opacity: 1;

}

.forecast-min {
    font-size: 16px;
    color: #9da6b0;
    opacity: 1;
}

#forecast {
    margin-top: 15px;
    margin-left: 25px;
    margin-right:10px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    opacity: 1;
}
.github-link {
    text-align: center;
    border: 1px dotted blue;
}

#icon {
    position: relative;
    bottom: 10px;
    opacity: 1;
}

#fahrenheit.active, #celsius.active {
    color:#454a4f;
    cursor: default;
    text-decoration: none;
    opacity: 1;
}